/*Universal style*/
* {
    margin: 0;
    padding: 0;
}

/*Main style*/
.secstyle1 {
    display: flex;
    width: 100%;
    margin: auto;
}

.navstyle1 {
    padding: 20px;
    text-align: left;
    margin: auto;
}

.title1 {
    color: #151414;
    font-size: 35px;
    padding-bottom: 10px;
}

.description1 {
    color: #444343;
    font-size: 15px;
    padding-bottom: 10px;
}

.btn1 {
    background-color: rgba(229, 84, 115, 1);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: 0;
}

/*second section*/
.secstyle2 {
    margin-top: 10vh;
}

.navstyle2 {
    width: 70%;
    margin: auto;

}

.feature {
    padding-right: 10px;
}

.features {
    display: flex;
    gap: 10px;
}

.features-title {
    font-weight: 700;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.features-description {
    text-align: center;
    padding-bottom: 5px;
    color: rgba(39, 39, 39, 0.6);
}

.feature-pic1 {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 50% 50% 0 0;
}

.feature-pic2 {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 50% 50% 0 0;
}

.feature-pic3 {
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 50% 50% 0 0;
}

.feature-title {
    text-align: center;
    text-decoration: underline;
}

/*third section*/
.secstyle3 {
    margin-top: 10vh;
}

.navstyle3 {
    width: 70%;
    margin: auto;
    padding: 10px 0;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
}

.service {
    padding-right: 10px;
}

.services {
    display: flex;
    gap: 100px;
    width: 80%;
    margin: auto;
}

.services-title {
    font-weight: 700;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.services-description {
    text-align: center;
}

.service-pic {
    display: flex;
    width: fit-content;
    margin: auto;
}

.service-title {
    text-align: center;
    padding-top: 3px;
}

/*fourth section*/
.discount-off {
    color: rgba(229, 84, 115, 1);
}

.secstyle4 {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 15px;
}

.discount-div {
    display: flex;
    width: 70%;
    margin: auto;
}

.navstyle4 {
    padding: 20px;
    text-align: left;
    margin: auto;
    text-align: center;
}

/*fifth section*/
.secstyle5 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.navstyle5 {
    width: 50%;
    margin: auto;

}

.instagram {
    padding-right: 10px;
}

.instagrams {
    display: flex;
    gap: 5px;
}

.instagrams-title {
    font-weight: 700;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.instagrams-description {
    text-align: center;
    padding-bottom: 5px;
    color: rgba(39, 39, 39, 0.6);
}

.instagram-pic1 {
    background-color: rgba(167, 33, 98, 0.15);
    width: 70%;
}

.instagram-pic2 {
    background-color: rgba(5, 151, 160, 0.15);
    width: 70%;
}

.instagram-pic3 {
    background-color: rgba(71, 125, 17, 0.15);
    width: 70%;
}

.instagram-pic4 {
    background-color: rgba(71, 125, 17, 0.15);
    width: 70%;
}

/* sixth section */
.secstyle6 {
    background-image: url("/Flower Asset/Rectangle\ 9.png");
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

.navstyle6 {
    text-align: center;
}

.subscribe {
    padding-top: 30px;
    text-align: center;
}

.subscribe-description {
    text-align: center;
    padding-bottom: 10px;
}

.navstyle6 {
    padding-bottom: 10px;
}

#email {
    padding: 8px 25px 8px 8px;
    border-radius: 5px;
    border: 0;
}

.btn3 {
    padding: 8px 10px;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    border-radius: 5px;
    border: 0;
}